html {
    font-size: 100%;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* -----------------ANIMATION START------------------*/

@keyframes jiggle {
    0% {
        transform: rotate(3deg) translateY(-3px);
    }

    50% {
        transform: rotate(-3deg) translateY(-3px);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes bouncy {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        filter: drop-shadow(0px 10px 15px #4444dd);
    } 
    40% {
        transform: translateY(-7px);
        filter: drop-shadow(0px 17px 13px #4444dd);
    } 
    60% {
        transform: translateY(-2px);
        filter: drop-shadow(0px 12px 14px #4444dd);
    } 
}

.btn--animated {
    background: rgb(79, 79, 238);
    animation: bouncy 3s;
    animation-iteration-count: infinite;
}


/* -----------------ANIMATION END------------------*/

/* -----------------FONTS START------------------*/

.imposter__title, 
.title,
.footer-section__title {
    font-family: 'Fira Sans', sans-serif, bold;
    font-size: 3.313rem;
    margin-bottom: 0;
    margin-top: 0;
}

.nav__link,
.btn {
    font-size: 0.75rem;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

.nav__link:hover {
    color: #222222;
}

.card__product-name,
.footer-section__subtitle,
.form__title  {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    margin: 5px 0;

}

.card__product-price,
.imposter__copy {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.card__title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    margin-bottom: 0;
}

.card__subtitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.125rem;
    color: white;
    opacity: 60%;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.footer-section__copy,
.footer-section__info,
.form__label,
.form__input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

.footer-section__subtitle--grey,
.footer-section__copy--grey {
    color: #222222;
    opacity: 80%;
}

/* -----------------FONTS END------------------*/



/* -----------------HEADER START------------------*/

.header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 10px;
    align-items: center;

}

.nav__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 15px;
}

.nav__item {
    display: inline-block;

    &:hover {                        /* --------- NAV LINK TRANSFORM ---------- */
    transform: scale(1.4);
    margin: 0 7px;
    }
}

.nav__link {
    color: #999999;
}

.nav__link--active {
    color: black;
}

.btn {
    width: 146px;
    height: 40px;
    border-radius: 3px;
    border-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.btn__link {
    text-decoration: none;
    color: white;
}

.nav--small-screen {
    display: none;

    @media only screen and (max-width: 600px) {
        display: block;
    }
}

.nav--large-screen,
.btn--animated {
    
    @media only screen and (max-width: 600px) {
        display: none;
    }
}

/* -----------------HEADER END------------------*/


/* -----------------IMPOSTER START------------------*/

.imposter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    background: rgb(250,24,221);
    background: linear-gradient(7deg, rgba(250,24,221,1) 0%, rgba(203,127,219,1) 36%, rgba(0,32,255,1) 100%);
}

.imposter__copy {
    /*max-width: 50vw;*/
    max-width: 32.625rem;
    text-align: center;
    margin-bottom: 3vw;
}

.imposter__actions {
    display: flex;
    gap: 2vw;
    margin-bottom: 2vw;
}

.btn--black {
    background-color: #222222;
    color: white;
    font-size: 1rem;
}
 
.imposter__title {
    @media only screen and (max-width: 600px) {
        text-align: center;
        font-size: 2.25rem;
    }
}

/* -----------------IMPOSTER END------------------*/


/* -----------------MAIN START------------------*/

.main {
    display: grid;
    /*grid-template-columns: repeat(4, 18%);
    grid-auto-rows: 27%;*/
    grid-template-columns: repeat(4, minmax(18%, 16.375rem));
    grid-auto-rows: 23.938rem;
    gap: 4rem 1.875rem;    
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 8rem;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 45% 45%;
        grid-auto-rows: auto;
    }
}

.title {
    grid-column: span 4;
    text-align: center;
    align-self: center;
    margin: 6.938rem 0 1rem 0;

    @media only screen and (max-width: 600px) {
        grid-column: span 2;
    }
}

.card--small {
    grid-column: span 1;

    
    &:hover {
    transform: scale(1.2) translateY(-30px); /* ---- ANIMATION PRODUKTBILD -----*/
    opacity: 100%;
    transition: 0.25s ease-in;
    box-shadow: 0px 5px 59px 9px rgba(0,0,0,0.42);
    -webkit-box-shadow: 0px 5px 59px 9px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 5px 59px 9px rgba(0,0,0,0.42);
    z-index: 2;

    .card__footer {
        transform: scale(0.8) translate(-62.2%, -9%);
        width: 125%;
        background: rgba(255, 255, 255, 0.50);
    }

    }

    @media only screen and (max-width: 600px) {
        grid-column: span 1;
    }

}

.card--big {
    grid-column: span 2;
    height: 100%;

    @media only screen and (max-width: 600px) {
    grid-column: span 2;
    }

}

.card {
    position: relative;
}


.card__img {
    opacity: 80%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position:relative;
    z-index: 0;

    &:hover {
    opacity: 100%;         /* ---- ANIMATION PRODUKTBILD -----*/  
    }
}


.card__footer {
    position: absolute;
    bottom: -10px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}



.card__img--darken {
    filter: brightness(30%);
    opacity: 100%;
}

.card__body {
    position: absolute;
    bottom: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}


.btn--white-border {
    border: 1px white solid;
    background-color: #343332;
    color: white;
    font-weight: 400;

    &:hover {
        background-color: black;
    }
}

/* -----------------MAIN END------------------*/

/* -----------------FOOTER START------------------*/

.footer {
    background-image: url(images/footer\ map\ bg.png);
    display: grid;
    gap: 15px;
    grid-template-columns: 20% 20% 20% 20%;
    padding: 5vw;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 45% 45%;
        padding: 5rem 0;
    }
}

.footer-section {
    background-color: white;
    grid-column: 3/5;
    padding: 2rem;
    border-radius: 3px;
    max-width: 500px;

    @media only screen and (max-width: 600px) {
        grid-column: span 2;
    }
}

.footer-section__list {
    list-style-type: none;
    padding: 0;

}

.footer-section__item {
    display: flex;
    gap: 1rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    grid-column: 1/3;
    border-radius: 3px;
    background: rgb(250,24,221);
    background: linear-gradient(7deg, rgba(250,24,221,1) 0%, rgba(203,127,219,1) 36%, rgba(0,32,255,1) 100%);
    max-width: 500px;
    width: 85%;
}

.form__title {
    margin: 1rem 0;
    font-weight: 400;
}

.form__title--white {
    color: white;
}

.form__input {
    margin-bottom: 1rem;
    border-style: none;
    border-bottom: 1px solid white;
    background: transparent;
}

.form__input:focus {
    outline: none;
}

.btn--form {
    border: none;
    box-shadow: -4px 4px 38px 2px rgba(0,0,0,0.83);
    -webkit-box-shadow: -4px 4px 38px 2px rgba(0,0,0,0.83);
    -moz-box-shadow: -4px 4px 38px 2px rgba(0,0,0,0.83);
    background-color: rgb(39, 63, 219);
    color: white;

    &:hover {
    background-color: rgb(0, 33, 245);
    }
}

.form__label,
.form__input {
    color: white;
    font-weight: 100;
} 

/* -----------------FOOTER END------------------*/
