html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* -----------------ANIMATION START------------------*/

@keyframes nav-grow {

    0% {
        transform: scale(1) translateY(0px);
    }

    100% {
        transform: scale(1.4) translateY(-1.5px);
        margin: 0 8px;
    }

}

@keyframes btn-grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        filter: drop-shadow(0px 2px 5px #36363e);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }    
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }

}


@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2) translateY(-30px);
    }
}

/*
@keyframes bouncy {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        filter: drop-shadow(0px 10px 10px #4444dd);

    } 
    40% {
        transform: translateY(-7px);
        filter: drop-shadow(0px 17px 13px #4444dd);
        
    } 

    60% {
        transform: translateY(-2px);
        filter: drop-shadow(0px 12px 14px #4444dd);

    } 
}
*/

@keyframes bouncy {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        filter: drop-shadow(0px 8px 5px #3d3d3f);

    } 
    40% {
        transform: translateY(-7px);
        filter: drop-shadow(0px 15px 11px #3d3d3f);
        
    } 

    60% {
        transform: translateY(-2px);
        filter: drop-shadow(0px 12px 8px #3d3d3f);

    } 
}

.btn--animated {
    background: rgb(79, 79, 238);
    animation: bouncy 3s;
    animation-iteration-count: infinite;
    z-index: 1;
}


/* -----------------ANIMATION END------------------*/

/* -----------------FONTS START------------------*/

.imposter__title, 
.title,
.footer-section__title {
    font-family: 'Fira Sans', sans-serif, bold;
    font-size: 3.313rem;
    margin-bottom: 0;
    margin-top: 0;
    color: #222222;
}

.nav__link,
.btn {
    font-size: 0.75rem;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

.nav__link:hover {
    color: #222222;
}

.card__product-name,
.footer-section__subtitle,
.form__title  {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    margin: 5px 0;
    color: #222222;

}

.card__product-price,
.imposter__copy {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: center;
    opacity: 80%;
}

.card__title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    margin-bottom: 0;
}

.card__subtitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.125rem;
    color: white;
    opacity: 60%;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.footer-section__copy,
.footer-section__info,
.form__label,
.form__input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

.footer-section__subtitle--grey,
.footer-section__copy--grey {
    color: #222222;
    opacity: 80%;
}

/* -----------------FONTS END------------------*/



/* -----------------HEADER START------------------*/

.header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 10px;
    align-items: center;

}

.nav__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 15px;
}

.nav__item {
    display: inline-block;

    &:hover {                            
    animation: nav-grow 0.65s ease-in-out; /* --------- NAV LINK ANIMATION ---------- */
    animation-fill-mode: forwards;
    cursor: pointer;
    }
}

.nav__link {
    color: #999999;
}

.nav__link--active {
    color: black;
}

.btn {
    width: 146px;
    height: 40px;
    border-radius: 3px;
    border-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.btn__link {
    text-decoration: none;
    color: white;
}

.nav--small-screen {
    display: none;

    @media only screen and (max-width: 730px) {
        display: block;
    }
}

.nav--large-screen,
.btn--animated {
    
    @media only screen and (max-width: 730px) {
        display: none;
    }
}

/* -----------------HEADER END------------------*/


/* -----------------IMPOSTER START------------------*/

.imposter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    background: rgb(250,24,221);
    background: linear-gradient(7deg, rgba(250,24,221,1) 0%, rgba(203,127,219,1) 36%, rgba(0,32,255,1) 100%);
}

.imposter__copy {
    max-width: 32.625rem;
    text-align: center;
    margin-bottom: 3vw;
}

.imposter__actions {
    display: flex;
    gap: 2vw;
    margin-bottom: 2vw;
}

.btn--black {
    background-color: #222222;
    color: white;
    font-size: 1rem;
    &:hover {                            
        animation: btn-grow 0.55s ease-in-out; /* --------- BTN ANIMATION ---------- */
        animation-fill-mode: forwards;
        background-color: black;
        cursor: pointer;
        .btn__icon {
            animation: wiggle 1s ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        }
}


 
.imposter__title {
    @media only screen and (max-width: 730px) {
        text-align: center;
        font-size: 2.25rem;
    }
}

/* -----------------IMPOSTER END------------------*/


/* -----------------MAIN START------------------*/

.main {
    display: grid;
    grid-template-columns: repeat(4, minmax(18%, 16.375rem));
    grid-auto-rows: auto 23.938rem;
    gap: 4rem 1.875rem;    
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 8rem 0;

    @media only screen and (max-width: 900px) {
        grid-template-columns: 45% 45%;
        grid-auto-rows: auto;
        gap: 1rem;
    }
}


.title {
    grid-column: span 4;
    text-align: center;
    align-self: center;

    @media only screen and (max-width: 900px) {
        grid-column: span 2;
    }
}


.card {
    position: relative;


    .card__img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        position:relative;

        &:hover {
        opacity: 100%;        
        }

        .card__img--darken {
            filter: brightness(30%);
            opacity: 100%;
        }
    }

}


.card--small {
    grid-column: span 1;

    @media only screen and (max-width: 900px) {
        grid-column: span 1;
    }

    .card__slider {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        display: flex;
        height: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    
        &::-webkit-scrollbar {
            display: none;
          }

        &:hover {
            cursor: pointer;
        }
    }
    
    .card__slides {
        display: flex;
        position: relative;  
    }
    

    .card__img--small {
        scroll-snap-align: start;
    }
    
    .card__footer {
        z-index: 1;
        position: absolute;
        bottom: 80px;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        background-color: white;
    }
}

.card--big {
    grid-column: span 2;
    height: 100%;

    @media only screen and (max-width: 900px) {
    grid-column: span 2;
    }

    .card__body {
        position: absolute;
        bottom: 7px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
    }

    .card__actions {
        place-self: center;
    }


    .btn--white-border {
        border: 1px white solid;
        background-color: #343332;
        color: white;
        font-weight: 400;

        &:hover {
            background-color: black;
        }
}

}


/* -----------------MAIN END------------------*/

/* -----------------FOOTER START------------------*/

.footer {
    background-image: url(images/footer\ map\ bg.png);
    display: grid;
    gap: 4rem 1.875rem;
    grid-template-columns: 20% 20% 20% 20%;
    padding: 5vw;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: 730px) {
        grid-template-columns: 45% 45%;
        padding: 5rem 0;
    }
}

.footer-section {
    background-color: white;
    grid-column: 3/5;
    padding: 2rem;
    border-radius: 3px;
    max-width: 500px;

    @media only screen and (max-width: 730px) {
        grid-column: span 2;
    }
}

.footer-section__list {
    list-style-type: none;
    padding: 0;

}

.footer-section__item {
    display: flex;
    gap: 1rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    grid-column: 1/3;
    border-radius: 3px;
    background: rgb(250,24,221);
    background: linear-gradient(7deg, rgba(250,24,221,1) 0%, rgba(203,127,219,1) 36%, rgba(0,32,255,1) 100%);
    max-width: 500px;
    width: 85%;
}

.form__title {
    margin: 1rem 0;
    font-weight: 400;
}

.form__title--white {
    color: white;
}

.form__input {
    margin-bottom: 1rem;
    border-style: none;
    border-bottom: 1px solid white;
    background: transparent;
}

.form__input:focus {
    outline: none;
}

.btn--form {
    border: none;
    box-shadow: 0px 0px 10px 1pxrgba(0,0,0,0.83);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.83);
    background-color: rgb(39, 63, 219);
    color: white;

    &:hover {
    background-color: rgb(0, 33, 245);
    }
}

.form__label,
.form__input {
    color: white;
    font-weight: 100;
} 

/* -----------------FOOTER END------------------*/
