html {
    font-size: 100%;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* -----------------FONTS START------------------*/

.imposter__title, 
.title,
.footer-section__title {
    font-family: 'Fira Sans', sans-serif, bold;
    font-size: 3.313rem;
    margin-bottom: 0;
    margin-top: 0;
}

.nav__link,
.btn {
    font-size: 0.75rem;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

.nav__link:hover {
    color: black;
}

.card__product-name,
.footer-section__subtitle,
.form__title  {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    margin-bottom: 5px;

}

.card__product-price,
.imposter__copy {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.card__title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    margin-bottom: 0;
}

.card__subtitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.125rem;
    color: white;
    opacity: 60%;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.footer-section__copy,
.footer-section__info,
.form__label,
.form__input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

.footer-section__subtitle--grey,
.footer-section__copy--grey {
    color: #222222;
    opacity: 80%;
}

/* -----------------FONTS END------------------*/



/* -----------------HEADER START------------------*/

.header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 10px;
    align-items: center;

}

.nav__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 15px;
}

.nav__link {
    color: #999999;
}

.nav__link--active {
    color: black;
}


.btn {
    width: 146px;
    height: 40px;
    border-radius: 3px;
    border-style: none;
    border: 2px black solid;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.btn__link {
    text-decoration: none;
    color: black;
}

.nav--small-screen {
    display: none;
}

/* -----------------HEADER END------------------*/


/* -----------------IMPOSTER START------------------*/

.imposter {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-color: #EEEEEE;*/
    padding-top: 3rem;
    background: rgb(250,24,221);
background: linear-gradient(7deg, rgba(250,24,221,1) 0%, rgba(203,127,219,1) 36%, rgba(0,32,255,1) 100%);
}

.imposter__copy {
    max-width: 50vw;
    text-align: center;
    margin-bottom: 3vw;
}

.imposter__actions {
    display: flex;
    gap: 2vw;
    margin-bottom: 2vw;
}

.btn--black {
    background-color: black;
    color: white;
    font-size: 1rem;
}

/* -----------------IMPOSTER END------------------*/


/* -----------------MAIN START------------------*/

.main {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 15px;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
}

.title {
    grid-column: span 4;
    text-align: center;
    align-self: center;
    padding: 3rem;
}

.card--small {
    grid-column: span 1;
}

.card--big {
    grid-column: span 2;
    height: min-content;
}

.card {
    position: relative;
}


.card--small:hover {
    transform: scale(1.2) translateY(-30px); /* ---- ANIMATION PRODUKTER -----*/
    opacity: 100%;
    transition: 0.25s ease-in;
    box-shadow: 0px 5px 59px 9px rgba(0,0,0,0.42);
    -webkit-box-shadow: 0px 5px 59px 9px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 5px 59px 9px rgba(0,0,0,0.42);
}

.card__img:hover {
    opacity: 100%;         /* ---- ANIMATION PRODUKTER -----*/
}

.card__footer {
    position: absolute;
    bottom: 7px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.card__img {
    opacity: 60%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}


.card__img--darken {
    filter: brightness(30%)
}

.card__body {
    position: absolute;
    bottom: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btn--white-border {
    border: 1px white solid;
    background-color: #343332;
    color: white;
    font-weight: 400;
}

/* -----------------MAIN END------------------*/

/* -----------------FOOTER START------------------*/

.footer {
    background-image: url(images/footer\ map\ bg.png);
    display: grid;
    gap: 15px;
    grid-template-columns: 20% 20% 20% 20%;
    padding: 5vw;
    justify-content: center;
}

.footer-section {
    background-color: white;
    grid-column: 3/5;
    padding: 2rem;
    border-radius: 3px;
}

.footer-section__list {
    list-style-type: none;
    padding: 0;

}

.footer-section__item {
    display: flex;
    gap: 1rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    grid-column: 1/3;
    border-radius: 3px;
    background: rgb(250,24,221);
background: linear-gradient(7deg, rgba(250,24,221,1) 0%, rgba(203,127,219,1) 36%, rgba(0,32,255,1) 100%);
}

.form__title {
    margin: 1rem 0;
    font-weight: 400;
}

.form__title--white {
    color: white;
}

.form__input {
    margin-bottom: 1rem;
    border-style: none;
    border-bottom: 1px solid white;
    background: transparent;
}

.form__input:focus {
    outline: none;
}

.btn--form {
    border: none;
    box-shadow: -4px 4px 38px 2px rgba(0,0,0,0.83);
    -webkit-box-shadow: -4px 4px 38px 2px rgba(0,0,0,0.83);
    -moz-box-shadow: -4px 4px 38px 2px rgba(0,0,0,0.83);
    background-color: rgb(39, 63, 219);
    color: white;
}

.btn--form:hover {
    background-color: rgb(0, 33, 245);
}

.form__label,
.form__input {
    color: white;
    font-weight: 100;
} 

/* -----------------FOOTER END------------------*/




@media only screen and (max-width: 600px) {
    
    .nav--large-screen,
    .btn--transparent {
        display: none;
    }

    .nav--small-screen {
        display: block;
    }

    .imposter__title {
        text-align: center;
        font-size: 2.25rem;
    }
    
    .title,
    .card--big  {
        grid-column: span 2;
    }

    .card--small {
        grid-column: span 1;
    }

    .main {
        grid-template-columns: 45% 45%;
    }

    .footer {
        grid-template-columns: 45% 45%;
        padding: 5rem 0;
    }
    .footer-section {
        grid-column: span 2;
    }

}